body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1914 {
  position:absolute;
  left:100px;
  top:254px;
  width:1148px;
  height:215px;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:42px;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1916 {
  position:absolute;
  left:2px;
  top:13px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:42px;
}
#u1917 {
  position:absolute;
  left:48px;
  top:0px;
  width:295px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u1919 {
  position:absolute;
  left:343px;
  top:0px;
  width:80px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
}
#u1921 {
  position:absolute;
  left:423px;
  top:0px;
  width:224px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
}
#u1923 {
  position:absolute;
  left:647px;
  top:0px;
  width:137px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
}
#u1925 {
  position:absolute;
  left:784px;
  top:0px;
  width:109px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:42px;
}
#u1927 {
  position:absolute;
  left:893px;
  top:0px;
  width:152px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u1929 {
  position:absolute;
  left:1045px;
  top:0px;
  width:98px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1931 {
  position:absolute;
  left:0px;
  top:42px;
  width:48px;
  height:30px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u1933 {
  position:absolute;
  left:48px;
  top:42px;
  width:295px;
  height:30px;
  font-size:16px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1935 {
  position:absolute;
  left:343px;
  top:42px;
  width:80px;
  height:30px;
  font-size:16px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u1937 {
  position:absolute;
  left:423px;
  top:42px;
  width:224px;
  height:30px;
  font-size:16px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1939 {
  position:absolute;
  left:647px;
  top:42px;
  width:137px;
  height:30px;
  font-size:16px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1941 {
  position:absolute;
  left:784px;
  top:42px;
  width:109px;
  height:30px;
  font-size:16px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u1943 {
  position:absolute;
  left:893px;
  top:42px;
  width:152px;
  height:30px;
  font-size:16px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1945 {
  position:absolute;
  left:1045px;
  top:42px;
  width:98px;
  height:30px;
  font-size:16px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:72px;
  width:48px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:48px;
  top:72px;
  width:295px;
  height:30px;
  font-size:16px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:343px;
  top:72px;
  width:80px;
  height:30px;
  font-size:16px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:423px;
  top:72px;
  width:224px;
  height:30px;
  font-size:16px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:647px;
  top:72px;
  width:137px;
  height:30px;
  font-size:16px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1957 {
  position:absolute;
  left:784px;
  top:72px;
  width:109px;
  height:30px;
  font-size:16px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:893px;
  top:72px;
  width:152px;
  height:30px;
  font-size:16px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1961 {
  position:absolute;
  left:1045px;
  top:72px;
  width:98px;
  height:30px;
  font-size:16px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:102px;
  width:48px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:48px;
  top:102px;
  width:295px;
  height:30px;
  font-size:16px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:343px;
  top:102px;
  width:80px;
  height:30px;
  font-size:16px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:423px;
  top:102px;
  width:224px;
  height:30px;
  font-size:16px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:647px;
  top:102px;
  width:137px;
  height:30px;
  font-size:16px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:784px;
  top:102px;
  width:109px;
  height:30px;
  font-size:16px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:893px;
  top:102px;
  width:152px;
  height:30px;
  font-size:16px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:1045px;
  top:102px;
  width:98px;
  height:30px;
  font-size:16px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:132px;
  width:48px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:48px;
  top:132px;
  width:295px;
  height:30px;
  font-size:16px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:343px;
  top:132px;
  width:80px;
  height:30px;
  font-size:16px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u1985 {
  position:absolute;
  left:423px;
  top:132px;
  width:224px;
  height:30px;
  font-size:16px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1987 {
  position:absolute;
  left:647px;
  top:132px;
  width:137px;
  height:30px;
  font-size:16px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1989 {
  position:absolute;
  left:784px;
  top:132px;
  width:109px;
  height:30px;
  font-size:16px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:893px;
  top:132px;
  width:152px;
  height:30px;
  font-size:16px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:1045px;
  top:132px;
  width:98px;
  height:30px;
  font-size:16px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:162px;
  width:48px;
  height:48px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:48px;
}
#u1997 {
  position:absolute;
  left:48px;
  top:162px;
  width:295px;
  height:48px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
}
#u1999 {
  position:absolute;
  left:343px;
  top:162px;
  width:80px;
  height:48px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u2001 {
  position:absolute;
  left:423px;
  top:162px;
  width:224px;
  height:48px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
}
#u2003 {
  position:absolute;
  left:647px;
  top:162px;
  width:137px;
  height:48px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:48px;
}
#u2005 {
  position:absolute;
  left:784px;
  top:162px;
  width:109px;
  height:48px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:48px;
}
#u2007 {
  position:absolute;
  left:893px;
  top:162px;
  width:152px;
  height:48px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u2009 {
  position:absolute;
  left:1045px;
  top:162px;
  width:98px;
  height:48px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:100px;
  top:122px;
  width:1056px;
  height:80px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:32px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2015 {
  position:absolute;
  left:115px;
  top:144px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2017 {
  position:absolute;
  left:216px;
  top:144px;
  width:52px;
  height:24px;
  font-size:20px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2020 {
  position:absolute;
  left:303px;
  top:144px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2022 {
  position:absolute;
  left:364px;
  top:146px;
  width:41px;
  height:22px;
  font-size:18px;
}
#u2023 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#3399FF;
}
#u2025 {
  position:absolute;
  left:728px;
  top:143px;
  width:141px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u2027 {
  position:absolute;
  left:873px;
  top:144px;
  width:41px;
  height:22px;
  font-size:18px;
  color:#3399FF;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2030 {
  position:absolute;
  left:450px;
  top:144px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2032 {
  position:absolute;
  left:631px;
  top:145px;
  width:61px;
  height:22px;
  font-size:18px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2034 {
  position:absolute;
  left:100px;
  top:63px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2036 {
  position:absolute;
  left:1023px;
  top:530px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2038 {
  position:absolute;
  left:843px;
  top:530px;
  width:149px;
  height:40px;
  font-size:18px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:9px;
  width:145px;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:1178px;
  top:302px;
  width:31px;
  height:20px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:1178px;
  top:332px;
  width:31px;
  height:20px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:1178px;
  top:362px;
  width:31px;
  height:20px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:1178px;
  top:392px;
  width:31px;
  height:20px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:38px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
  text-align:center;
}
#u2050 {
  position:absolute;
  left:805px;
  top:482px;
  width:267px;
  height:38px;
  font-size:14px;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:10px;
  top:11px;
  width:247px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:37px;
}
#u2052 {
  position:absolute;
  left:936px;
  top:457px;
  width:5px;
  height:25px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2055 {
  position:absolute;
  left:15px;
  top:15px;
  width:35px;
  height:35px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2058_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:68px;
  height:25px;
}
#u2058 {
  position:absolute;
  left:1219px;
  top:310px;
  width:56px;
  height:5px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:-6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:56px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2060 {
  position:absolute;
  left:1275px;
  top:284px;
  width:123px;
  height:56px;
}
#u2061 {
  position:absolute;
  left:10px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:481px;
  top:235px;
  width:362px;
  height:170px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:77px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:514px;
  top:257px;
  width:113px;
  height:16px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2067 {
  position:absolute;
  left:823px;
  top:235px;
  width:20px;
  height:20px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2070 {
  position:absolute;
  left:581px;
  top:303px;
  width:119px;
  height:25px;
}
#u2070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:514px;
  top:307px;
  width:57px;
  height:16px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  position:absolute;
  left:710px;
  top:308px;
  width:15px;
  height:16px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:761px;
  top:304px;
  width:54px;
  height:23px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:514px;
  top:351px;
  width:111px;
  height:16px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  position:absolute;
  left:761px;
  top:348px;
  width:54px;
  height:23px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
