body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1156px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2084 {
  position:absolute;
  left:223px;
  top:289px;
  width:120px;
  height:22px;
}
#u2084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2084_input:disabled {
  color:grayText;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2085 {
  position:absolute;
  left:223px;
  top:288px;
  width:25px;
  height:25px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2087 {
  position:absolute;
  left:114px;
  top:256px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2089 {
  position:absolute;
  left:223px;
  top:256px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:100px;
  top:100px;
  width:1056px;
  height:136px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:60px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2095 {
  position:absolute;
  left:115px;
  top:122px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2097 {
  position:absolute;
  left:216px;
  top:122px;
  width:52px;
  height:24px;
  font-size:20px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2100 {
  position:absolute;
  left:303px;
  top:122px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2102 {
  position:absolute;
  left:364px;
  top:124px;
  width:41px;
  height:22px;
  font-size:18px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#3399FF;
}
#u2105 {
  position:absolute;
  left:728px;
  top:121px;
  width:141px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u2107 {
  position:absolute;
  left:873px;
  top:122px;
  width:41px;
  height:22px;
  font-size:18px;
  color:#3399FF;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2110 {
  position:absolute;
  left:450px;
  top:122px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2112 {
  position:absolute;
  left:631px;
  top:123px;
  width:61px;
  height:22px;
  font-size:18px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2114 {
  position:absolute;
  left:997px;
  top:186px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2117 {
  position:absolute;
  left:115px;
  top:165px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2119 {
  position:absolute;
  left:216px;
  top:165px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2122 {
  position:absolute;
  left:303px;
  top:165px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2124 {
  position:absolute;
  left:404px;
  top:165px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2127 {
  position:absolute;
  left:523px;
  top:165px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2129 {
  position:absolute;
  left:624px;
  top:165px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u2132 {
  position:absolute;
  left:728px;
  top:167px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u2134 {
  position:absolute;
  left:829px;
  top:167px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2137 {
  position:absolute;
  left:15px;
  top:15px;
  width:35px;
  height:35px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
