body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3946 {
  position:absolute;
  left:100px;
  top:63px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3949 {
  position:absolute;
  left:100px;
  top:142px;
  width:1192px;
  height:80px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:32px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3952 {
  position:absolute;
  left:124px;
  top:169px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u3953 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3954 {
  position:absolute;
  left:173px;
  top:167px;
  width:144px;
  height:22px;
}
#u3954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u3954_input:disabled {
  color:grayText;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3956 {
  position:absolute;
  left:341px;
  top:169px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3958 {
  position:absolute;
  left:390px;
  top:167px;
  width:144px;
  height:22px;
}
#u3958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u3958_input:disabled {
  color:grayText;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3960 {
  position:absolute;
  left:566px;
  top:169px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3962 {
  position:absolute;
  left:650px;
  top:167px;
  width:144px;
  height:22px;
}
#u3962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u3962_input:disabled {
  color:grayText;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3964 {
  position:absolute;
  left:823px;
  top:169px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3966 {
  position:absolute;
  left:904px;
  top:167px;
  width:144px;
  height:22px;
}
#u3966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u3966_input:disabled {
  color:grayText;
}
#u3967 {
  position:absolute;
  left:1110px;
  top:163px;
  width:100px;
  height:30px;
}
#u3967_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u3970 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3971 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u3971_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:56px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u3980 {
  position:absolute;
  left:1062px;
  top:63px;
  width:242px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u3981 {
  position:absolute;
  left:10px;
  top:9px;
  width:222px;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:57px;
}
#u3982 {
  position:absolute;
  left:1158px;
  top:119px;
  width:5px;
  height:44px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3986 {
  position:absolute;
  left:139px;
  top:257px;
  width:1001px;
  height:95px;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3989 {
  position:absolute;
  left:34px;
  top:0px;
  width:100px;
  height:30px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u3991 {
  position:absolute;
  left:134px;
  top:0px;
  width:91px;
  height:30px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u3993 {
  position:absolute;
  left:225px;
  top:0px;
  width:91px;
  height:30px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u3995 {
  position:absolute;
  left:316px;
  top:0px;
  width:91px;
  height:30px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3997 {
  position:absolute;
  left:407px;
  top:0px;
  width:100px;
  height:30px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3999 {
  position:absolute;
  left:507px;
  top:0px;
  width:100px;
  height:30px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4001 {
  position:absolute;
  left:607px;
  top:0px;
  width:100px;
  height:30px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4003 {
  position:absolute;
  left:707px;
  top:0px;
  width:100px;
  height:30px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4005 {
  position:absolute;
  left:807px;
  top:0px;
  width:100px;
  height:30px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u4007 {
  position:absolute;
  left:907px;
  top:0px;
  width:89px;
  height:30px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u4009 {
  position:absolute;
  left:0px;
  top:30px;
  width:34px;
  height:30px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4011 {
  position:absolute;
  left:34px;
  top:30px;
  width:100px;
  height:30px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u4013 {
  position:absolute;
  left:134px;
  top:30px;
  width:91px;
  height:30px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u4015 {
  position:absolute;
  left:225px;
  top:30px;
  width:91px;
  height:30px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u4017 {
  position:absolute;
  left:316px;
  top:30px;
  width:91px;
  height:30px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4019 {
  position:absolute;
  left:407px;
  top:30px;
  width:100px;
  height:30px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4021 {
  position:absolute;
  left:507px;
  top:30px;
  width:100px;
  height:30px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4023 {
  position:absolute;
  left:607px;
  top:30px;
  width:100px;
  height:30px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4025 {
  position:absolute;
  left:707px;
  top:30px;
  width:100px;
  height:30px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4027 {
  position:absolute;
  left:807px;
  top:30px;
  width:100px;
  height:30px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u4029 {
  position:absolute;
  left:907px;
  top:30px;
  width:89px;
  height:30px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:60px;
  width:34px;
  height:30px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4033 {
  position:absolute;
  left:34px;
  top:60px;
  width:100px;
  height:30px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u4035 {
  position:absolute;
  left:134px;
  top:60px;
  width:91px;
  height:30px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u4037 {
  position:absolute;
  left:225px;
  top:60px;
  width:91px;
  height:30px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u4039 {
  position:absolute;
  left:316px;
  top:60px;
  width:91px;
  height:30px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4041 {
  position:absolute;
  left:407px;
  top:60px;
  width:100px;
  height:30px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4043 {
  position:absolute;
  left:507px;
  top:60px;
  width:100px;
  height:30px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4045 {
  position:absolute;
  left:607px;
  top:60px;
  width:100px;
  height:30px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4047 {
  position:absolute;
  left:707px;
  top:60px;
  width:100px;
  height:30px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4049 {
  position:absolute;
  left:807px;
  top:60px;
  width:100px;
  height:30px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u4051 {
  position:absolute;
  left:907px;
  top:60px;
  width:89px;
  height:30px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4054 {
  position:absolute;
  left:149px;
  top:294px;
  width:15px;
  height:16px;
}
#u4055 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4056 {
  position:absolute;
  left:149px;
  top:324px;
  width:15px;
  height:16px;
}
#u4057 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4058 {
  position:absolute;
  left:149px;
  top:265px;
  width:15px;
  height:16px;
}
#u4059 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:1062px;
  top:292px;
  width:57px;
  height:20px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4063 {
  position:absolute;
  left:1062px;
  top:322px;
  width:57px;
  height:20px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4066_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:73px;
  height:25px;
}
#u4066 {
  position:absolute;
  left:1129px;
  top:300px;
  width:61px;
  height:5px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:center;
}
#u4068 {
  position:absolute;
  left:1190px;
  top:283px;
  width:138px;
  height:38px;
  color:#FFFFFF;
  text-align:center;
}
#u4069 {
  position:absolute;
  left:10px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u4071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4071 {
  position:absolute;
  left:15px;
  top:15px;
  width:35px;
  height:35px;
}
#u4072 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:69px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u4073 {
  position:absolute;
  left:106px;
  top:393px;
  width:265px;
  height:69px;
  font-size:16px;
  color:#FFFFFF;
}
#u4074 {
  position:absolute;
  left:10px;
  top:10px;
  width:245px;
  word-wrap:break-word;
}
